name: Test NY Timer

on:
  workflow_dispatch:
  schedule:
    - cron: '*/5 * * * *'   # cada 5 minutos (solo prueba)

jobs:
  test-time:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Print current time
        run: |
          echo "UTC time:"
          date -u
          echo "New York time:"
          TZ=America/New_York date

      - name: Send notification
        if: always()
        run: |
          if [ "${{ github.event_name }}" = "workflow_dispatch" ]; then
            echo "Notification sent manually by user."
          else
            echo "Notification sent automatically by schedule."
          fi
