name: Test NY Timer

on:
  workflow_dispatch:

jobs:
  test-time:
    runs-on: ubuntu-latest
    steps:
      - name: Print current time
        run: |
          echo "UTC time:"
          date -u
          echo "New York time:"
          TZ=America/New_York date
